body {
  color: #FFFFFF;
  background: #FCC9C8;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: auto;
  width: 40%;
 }
  body h1 {
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px; }
  body h2 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 30px; }
  body h3 {
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 0px; }
  body p {
    color: #FFFFFF;
    padding-right: 50px; }
  body ul {
    list-style-type: disc; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #FFFFFF; }
  body img {
    border-radius: 300px;
    border-style: solid;
    border-width: thick;
    margin-bottom: 20px;
   }
